# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# pkgconfig files
*.pc

# cscope files
cscope.*out

# autoconf/automake files
.dirstamp
.libs
autom4te.cache
config.guess
config.log
config.status
config.sub
Makefile
config.h.in
.deps
config.h
stamp-h1
